/*Structure*/
body{
    background:url(images/stadium.jpg) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#content {
    background-color: azure;
    width: 70%;
    margin:auto;
    padding:15px;
    border: 1px solid darkblue;
}
#pro {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal center */
    justify-content: center; /* Vertical center */
    text-align: center;
    padding: 20px;
}
table th{
    text-align: center;
    background-color:slategrey;
}
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid darkblue;
    background-color:slategrey;

}
#images {
    display: flex;
    padding: 50px;
}
img{
    border: 2px solid red;
}
header,footer{
    background-color: darkblue;
    padding:5px;
    color:white
}

/* Navigation */
#main-nav ul{
    padding-left:3px;
}
#main-nav li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#main-nav a{
    color:white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
#main-nav a:hover{
    color:rgb(20, 220, 23);
    border-bottom: 1px solid rgb(20, 220, 23);
}

/* Typography */
header h1{
    text-align: center;
}
footer p{
    text-align: center;
}
#pro h2{
    text-align: center;
}