/* Structure */
body {
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 15px;
    border: 1px solid darkblue;
}

header, footer {
    background-color: darkblue;
    padding: 5px;
    color: blanchedalmond;
}

.assignments, .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures spacing between items */
}

.box {
    background-color: #EBCC95;
    padding: 15px;
    margin: 10px;
    border: solid darkblue 3px;
    border-radius: 5px;
    color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px); /* Ensures 3 boxes per row */
    box-sizing: border-box;
}

.box h3 {
    text-align: center;
}

/* Navigation */
#main-nav ul {
    padding-left: 3px;
}

#main-nav li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#main-nav a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#main-nav a:hover {
    color: crimson;
    border-bottom: 1px solid crimson;
}

/* Typography */
header h1, h2 {
    text-align: center;
}

footer p {
    text-align: center;
}

a {
    text-decoration: none;
}
#hidden {
    background-color: blanchedalmond;
    border: none;
}
/* Media Queries */
@media (min-width: 900px) {
    .assignments{
        flex-direction: row;
    }

    .assignments .box {
        flex: 1;
        flex: 0 1 calc(33.33% - 20px);
    }
}

@media (max-width: 899px) {
    .assignments{
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }
}
