/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}
.oneoftwo {
    flex-direction: row;
}
/* Header styling */
header {
    width: 100%;
    background-color: black;
    color: white;
}
#garnetbar {
    background-color: rgb(115, 0, 10);
}
#garnetbar h1 {
    color: white;
    padding-left: 125px;
}
#bottomheader {
    display: flex;
    padding-left: 125px;
    padding-top: 20px;
}
#mainimage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
}
#nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
}

/* Navigation styling */
.main-nav ul, .footerbox ul {
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: right;
}
.main-nav li, .footbox li {
    font-size: 7px;
}
.main-nav a, .footerbox a {
    text-decoration: none;
    color: white;
}

/* Content styling */
#content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box {
    flex: 1;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
#sixbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
}
#sixbox .box {
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
}
.boxtitle {
    color: rgb(115, 0, 10);
    font-weight: bold;
    text-align: left;
}
.overlaytext {
    background-color: rgba(255, 255, 255);
    padding: 10px 15px;
    border-left: 2px solid rgb(115, 0, 10);
    width: 350px;
}
.middletext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 75%;
}

#graybar {
    background-color: #ECECEC;
    display: flex;
}
#graybar h2 {
    color: black;
    padding-left: 125px;
}

/* Footer styling */
footer {
    width: 100%;
    background-color: rgb(115, 0, 10);
    color: white;
    padding: 10px 0;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.bottomlinks {
    display: flex;
    border-top: white 1px;
    width: 100%;
}
.socials {
    margin-left: 100px;
}
#middlesocial {
    padding-left: 15px;
    padding-right: 15px;
}
.footerbox {
    background-color: black;
    margin-top: 20px;
    border-top: solid 1px white;
    text-align: center;
    font-size:small;
    width:100%;
    background-color: black;
    display: fixed;
    font-size: x-small;
    margin-top: 15px;
    padding-left: 100px;
    height: 30px;
}
/* Bottom navigation styling */
.bottomnav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: right;
    padding-top: 10px;
    margin-left: 125px;
}
.bottomnav li {
    font-size: 15px;
}
.bottomnav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* College links styling */
#college {
    gap: -10px;
    padding: 0px;
}
.collegelinks {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
}
.collegelinks ul {
    text-align: left;
}
.collegelinks li {
    list-style: none;
    padding: 5px;
}
.collegelinks a {
    font-size: 10px;
    text-decoration: none;
    color: white;
}
#office, #tools {
    margin-right: 105px;
}
.flex-container {
    display: flex;
}
.asn-img {
    padding:5px;
    text-align: center;
    position:relative;
}
#sociallogos {
    margin-top: 5px;
}
.bottombox {
    margin-top: 15px;
    border-bottom: solid 1px darkgray;
}
#asnews {
    margin-top: 15px;
}
#topp {
    border-bottom: solid 1px darkgray;
    margin-bottom: 15px;
}
#lastli {
    font-size: 10px;
    margin-left: 50px;
    border-bottom: none;
}
/* Media Queries */
@media only screen and (min-width: 768px) {
    .asn-img p {
        position:absolute;
        padding:5px;
        bottom:0;
    }
    #options {
        display: flex;
        margin-left: 120px;
        border-top: white 5px;
    }
    .columns {
        display: flex;
    }
    #main-nav li {
        flex: 1;
    }
    .one {
        flex: 1;
    }
    .onepointeightfive {
        flex: 1.85;
    }
    .two {
        flex: 2;
    }
    .five {
        flex: 5;
    }
    .eight {
        flex:8;
    }
    .title {
        width: 47%;
    }
    .overlaytext {
        position: absolute;
        bottom: 150px;
        left: 300px;
        color: black;
    }
    .threebytwo {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: auto;
    }
    .threebytwo p{
        text-align: left;
    }
    .threebytwo .box {
        flex: 0 1 calc(33.33% - 20px);
        box-sizing: border-box;
        text-align: center;
    }
    #sideoptions {
        display: flex;
        width: 16%;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid black;
    }
    #sideoptions ul {
        align-items: top; /* Align items to the left */
        text-align: left;
    }
    #sideoptions li {
        list-style: none;
        padding: 5px;
        border-bottom: solid 1px darkgray;
    }
    #sideoptions a {
        text-decoration: none;
        color: black;
    }
}
@media (max-width: 768px) {
    #sideoptions {
        display: none;
    }
}
